<!-- Specify which template to extend -->
{% extends 'base.html' %}

<!-- Add content to the content block in the main template -->
{% block content %}
<h1>Confirmation Number: {{ reservation.id }}</h1>
<table class="table">
    <tr>
        <td><strong>Number of People</strong></td>
        <td>{{ reservation.num_people}}</td>
    </tr>
    <tr>
        <td><strong>Total Cost</strong></td>
        <td>${{ reservation.total_cost}}</td>
    </tr>
</table>
<!-- 5 Extra Credit Points  Create a table that displays the flight information -->
<!-- This should display the airline, flight number, arrival and departure airports, and arrival and departure times -->
<h3>Flight and Ticket Info: </h3>
<table class="table">
    <tr>
        <td><strong>Origin</strong></td>
        <td>{{ reservation.flight.origin.name }} </td>
    </tr>
    <tr>
        <td><strong>Destination</strong></td>
        <td>{{ reservation.flight.destination.name }}</td>
    </tr>
    <tr>
        <td><strong>Flight No.</strong></td>
        <td>{{ reservation.flight.flight_number }}</td>
    </tr>
    <tr>
        <td><strong>Departure - Arrival</strong></td>
        <td>Leaving {{ reservation.flight.departure}}, Arriving {{ reservation.flight.arrival}}</td>
    </tr>
</table>
<!-- 5 Extra Credit Points Create a table that displays the ticket information -->
{% endblock %}